<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div layout:fragment="conteudo">

        <div style="width: 100%; display: flex; justify-content: center;">
            <div
                style="display: flex; justify-content: space-between; align-items: center; margin-left: 12px; width: 85%; margin-top: 10px;">
                <div style="display: flex; align-items: center;">

                    <i class="material-icons"> play_arrow</i>
                    <span style="font-size: 18px; margin-left: 5px;">Cadastrar Funcionário</span>
                </div>

                <button style="display: flex; align-items: center;" class="btn btn-success" type="button"> <i
                        style="margin-right: 5px;" class="large material-icons">add</i>
                    Cadastrar Funcionário</button>


            </div>
        </div>
        <p></p>

        <div class="form-conteiner">

            <div >



                <form
                    style="width: 100%; display: flex; flex-direction: column; align-items: end; margin-right: 180px;">

                    <div id="alert" style="width: 95%;">



                    </div>

                    <div style="width: 95%;">

                        <div class="row">
                            <div class="col">
                                <label for="nome">Nome</label>
                                <input type="text" id="nome" class="form-control" placeholder="Digite seu nome">
                                <p class="text-danger" id="mensagemNome"> </p>
                            </div>


                        </div>
                        <p></p>
                        <div class="row">

                            <div class="col">
                                <label for="salario">Salario</label>
                                <input type="text" id="salario" class="form-control" placeholder="Digite seu salario" />
                                <p class="text-danger" id="mensagemSalario"> </p>
                            </div>

                            <div class="col">
                                <label for="cargo">Cargo</label>
                                <select id="cargo" name="" class="form-control">
                                </select>
                                <p class="text-danger" id="mensagemCargo"> </p>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">

                            <div class="col">
                                <label for="logradouro">Logradouro</label>
                                <input type="text" id="logradouro" class="form-control" placeholder="Digite sua rua">
                                <p class="text-danger" id="mensagemLogradouro"> </p>
                            </div>
                            <div class="col">
                                <label for="numero">Número</label>
                                <input type="number" id="numero" class="form-control" placeholder="Digite seu numero">
                                <p class="text-danger" id="mensagemNumero"> </p>
                            </div>

                        </div>
                        <p></p>
                        <div class="row">

                            <div class="col">
                                <label for="bairro">Bairro</label>
                                <input type="text" id="bairro" class="form-control" placeholder="Digite seu bairro ">
                                <p class="text-danger" id="mensagemBairro"> </p>
                            </div>
                            <div class="col">
                                <label for="cidade">Cidade</label>
                                <input type="text" id="cidade" class="form-control" placeholder="Digite sua cidade">
                                <p class="text-danger" id="mensagemCidade"> </p>
                            </div>

                        </div>
                        <p></p>
                        <div class="row">

                            <div class="col">
                                <label for="cep">Cep</label>
                                <input type="text" id="cep" class="form-control" placeholder="Digite seu cep"
                                    onkeypress="$(this).mask('00000-000')">
                                <p class="text-danger" id="mensagemCep"> </p>
                            </div>
                            <div class="col">
                                <label for="uf">UF</label>
                                <select id="uf" name="uf" class="form-control">

                                </select>
                                <p class="text-danger" id="mensagemUf"> </p>
                            </div>
                            <p></p>

                        </div>
                    </div>
                    <p></p>
                    <button type="button" class="btn btn-primary" onclick="cadastrar()">Cadastrar</button>
                </form>
            </div>
        </div>

        <script>

            document.addEventListener("readystatechange", function () {
                buscarDados();
            });

            function cadastrar() {

                if (validarFormulario()) {



                    var nome = document.getElementById('nome').value;
                    var salario = parseFloat(document.getElementById('salario').value.replace(/[^\d,]/g, '').replace(',', '.'));
                    var cargoId = parseFloat(document.getElementById('cargo').value);
                    var logradouro = document.getElementById('logradouro').value;
                    var numero = parseInt(document.getElementById('numero').value);
                    var bairro = document.getElementById('bairro').value;
                    var cidade = document.getElementById('cidade').value;
                    var cep = document.getElementById('cep').value;
                    var uf = document.getElementById('uf').value;


                    if (uf == "Selecione...") {
                        uf = null;
                    }

                    var data = {
                        nome: nome,
                        salario: salario,
                        cargoId: cargoId,
                        endereco: {
                            logradouro: logradouro,
                            numero: numero,
                            bairro: bairro,
                            cidade: cidade,
                            cep: cep,
                            uf: uf
                        }

                    };

                   

                    fetch(host+'/api/funcionarios', {
                        method: 'POST', // ou outro método HTTP apropriado
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                        .then(response => {
                            if (response.ok) {


                                removeElementos();


                            } else {

                                console.error('Erro ao enviar o funcionario para o backend.');
                                // return response.json();
                            }
                        }).catch(error => {
                            console.error('Erro:', error);
                        });



                }

            }

            function removeElementos() {

                document.getElementById('nome').value = '';
                document.getElementById('salario').value = '';
                document.getElementById('cargo').selectedIndex = 0;
                document.getElementById('logradouro').value = '';
                document.getElementById('numero').value = '';
                document.getElementById('bairro').value = '';
                document.getElementById('cidade').value = '';
                document.getElementById('cep').value = '';
                document.getElementById('uf').selectedIndex = 0;


                var alert = document.getElementById("alert");
                alert.innerHTML =

                    '<div class="alert alert-success alert-dismissible fade show" role = "alert">' +
                    'Funcionario Cadastrado com sucesso!' +
                    '<button type = "button" class="close" data-dismiss="alert" aria-label="Close">' +
                    '<span aria-hidden="true">&times;</span></button> </div>'

                    ;


            }

            function validarFormulario() {

                var nome = document.getElementById('nome');
                var salario = document.getElementById('salario');
                var cargoId = document.getElementById('cargo');
                var logradouro = document.getElementById('logradouro');
                var numero = document.getElementById('numero');
                var bairro = document.getElementById('bairro');
                var cidade = document.getElementById('cidade');
                var cep = document.getElementById('cep');
                var uf = document.getElementById('uf');

                var valido = true;

                var mensagem = document.getElementById("mensagemNome");
                if (nome.value == null || nome.value.trim() == "") {
                    nome.classList.add("border-danger");
                    mensagem.textContent = "Digite um nome válido";
                    mensagem.style.fontSize = "12px";

                    valido = false;

                } else {

                    nome.classList.remove("border-danger");
                    mensagem.textContent = "";
                }

                mensagem = document.getElementById("mensagemSalario");
                if (salario.value == null || salario.value.trim() == "") {
                    salario.classList.add("border-danger");
                    mensagem.textContent = "Digite um salário válido";
                    mensagem.style.fontSize = "12px";

                    valido = false;

                } else {
                    salario.classList.remove("border-danger");
                    mensagem.textContent = "";
                }

                mensagem = document.getElementById("mensagemCargo");
                if (cargoId.value == "Selecione..." || cargoId.value.trim() == "") {
                    cargoId.classList.add("border-danger");
                    mensagem.textContent = "Selecione um cargo";
                    mensagem.style.fontSize = "12px";

                    valido = false;

                } else {
                    cargoId.classList.remove("border-danger");
                    mensagem.textContent = "";
                }

                mensagem = document.getElementById("mensagemLogradouro");
                if (logradouro.value == null || logradouro.value.trim() == "") {
                    logradouro.classList.add("border-danger");
                    mensagem.textContent = "Digite um logradouro";
                    mensagem.style.fontSize = "12px";

                    valido = false;

                } else {
                    logradouro.classList.remove("border-danger");
                    mensagem.textContent = "";
                }

                mensagem = document.getElementById("mensagemNumero");
                if (numero.value == null || numero.value.trim() == "") {
                    numero.classList.add("border-danger");
                    mensagem.textContent = "Digite um número";
                    mensagem.style.fontSize = "12px";

                    valido = false;

                } else {
                    numero.classList.remove("border-danger");
                    mensagem.textContent = "";
                }

                mensagem = document.getElementById("mensagemBairro");
                if (bairro.value == null || bairro.value.trim() == "") {
                    bairro.classList.add("border-danger");
                    mensagem.textContent = "Digite um bairro";
                    mensagem.style.fontSize = "12px";

                    valido = false;

                } else {
                    bairro.classList.remove("border-danger");
                    mensagem.textContent = "";
                }

                mensagem = document.getElementById("mensagemCidade");
                if (cidade.value == null || cidade.value.trim() == "") {
                    cidade.classList.add("border-danger");
                    mensagem.textContent = "Digite o nome da sua cidade";
                    mensagem.style.fontSize = "12px";

                    valido = false;

                } else {
                    cidade.classList.remove("border-danger");
                    mensagem.textContent = "";
                }

                mensagem = document.getElementById("mensagemCep");
                if (cep.value == null || cep.value.trim() == "") {
                    cep.classList.add("border-danger");
                    mensagem.textContent = "Digite o cep de sua cidade";
                    mensagem.style.fontSize = "12px";

                    valido = false;

                } else if (cep.value.length < 9) {
                    cep.classList.remove("border-danger");
                    mensagem.textContent = "";

                    cep.classList.add("border-danger");
                    mensagem.textContent = "Deve conter 8 digitos";
                    mensagem.style.fontSize = "12px";

                    valido = false;

                } else {
                    cep.classList.remove("border-danger");
                    mensagem.textContent = "";

                }

                mensagem = document.getElementById("mensagemUf");
                if (uf.value == "Selecione..." || uf.value.trim() == "") {
                    uf.classList.add("border-danger");
                    mensagem.textContent = "Selecione sua UF";
                    mensagem.style.fontSize = "12px";

                    valido = false;

                } else {

                    uf.classList.remove("border-danger");
                    mensagem.textContent = "";

                }

                return valido;
            }

            function adicionarCargos(cargos) {
                var select = document.getElementById('cargo');
                select.innerHTML = '';
                var lin = document.createElement('option')
                lin.textContent = "Selecione...";
                lin.selected = true;
                lin.disabled = true;
                select.appendChild(lin);

                cargos.forEach(cargo => {

                    lin = document.createElement('option');
                    lin.textContent = cargo.nome+"("+cargo.departamentoNome+")";
                    lin.value = cargo.id;
                    lin.id = cargo.id;
                    select.appendChild(lin);

                });

            }
            function buscarDados() {
                buscarCargos();
                buscarUfs();
            }

            function buscarCargos() {

                fetch(host+'/api/cargos')
                    .then(response => {
                        if (response.ok) {
                            response.json().then(cargos => {

                                adicionarCargos(cargos);
                            });

                        }
                    })


                    .catch(error => {

                        console.error('Erro:', error);
                    });

            }
            function buscarUfs() {

                fetch(host+'/ufs')
                    .then(response => {
                        if (response.ok) {
                            response.json().then(ufs => {

                                adicionarUfs(ufs);
                            });

                        }
                    })


                    .catch(error => {

                        console.error('Erro:', error);
                    });

            }
            function adicionarUfs(ufs) {
                var tagUfs = document.getElementById('uf');

                tagUfs.innerHTML = '';

                var lin = document.createElement('option');
                lin.disabled = true;
                lin.selected = true;
                lin.textContent = "Selecione..."
                tagUfs.appendChild(lin);

                ufs.forEach(uf => {
                    lin = document.createElement('option');
                    lin.textContent = uf;
                    lin.value = uf;
                    tagUfs.appendChild(lin);
                });


            }

            function mascaraSalario(event) {
                var input = event.target;
                var value = input.value.replace(/\D/g, ''); // Remove todos os não-dígitos

                // Formata o valor como moeda brasileira
                var formattedValue = "R$ " + (value / 100).toLocaleString("pt-BR", {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                });

                input.value = formattedValue;
            }

            // Selecionar o campo de entrada de salário pelo ID
            var salarioInput = document.getElementById('salario');

            // Adicionar o evento de input para aplicar a máscara enquanto o usuário digita
            salarioInput.addEventListener('input', mascaraSalario);

        </script>
        <style>

        </style>
    </div>

</body>

</html>