<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
</head>

<body>

    <div layout:fragment="conteudo">

        <div style="margin-left: 20px; margin-top: 15px;">


            <div style="width: 100%; display: flex; justify-content: start;">

                <div style="display: flex; align-items: center;">

                    <i class="material-icons"> play_arrow</i>
                    <span style="font-size: 18px; margin-left: 5px;">Lista de Cargos</span>
                </div>
            </div>
            <p></p>

        </div>

        <div>


            <div style="width: 100%; display: flex; justify-content: center;">
                <div style="width: 80%; margin-top: 20px;">
                    <div>
                        <div id="alert">
                        </div>

                        <div>


                            <table id="tabela-cargos" class="table table-hover">
                                <thead>
                                    <tr>

                                        <th scope="col">Nome</th>
                                        <th scope="col">Departamento</th>
                                        <th scope="col">Ação</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal editar -->
        <div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Editar Cargo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modalBody">


                    </div>

                </div>
            </div>
        </div>

        <script>

            function mandarParaBackend(data) {

                $('#modalEditar').modal('hide');

                fetch(host + '/api/cargos', {
                    method: 'PUT', // ou outro método HTTP apropriado
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                    .then(response => {
                        if (response.ok) {


                            mostrarMensagem("success", "Cargo Editado");
                            listarCargos();

                        } else {



                            mostrarMensagem("danger", error.message);

                        }
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                    });
            }

            function editarCargo() {
                var id = document.getElementById('id').value;
                var nome = document.getElementById('nome').value;
                var departamentoId = document.getElementById('departamento').value;

                if (departamentoId == "Selecione...") {
                    departamentoId = null;
                }

                data = {
                    id: id,
                    nome: nome,
                    departamentoId: departamentoId
                }
                if (validarFormulario()) {
                    mandarParaBackend(data);

                }

            }
            function adicionarDepartamentos(departamentos) {
                var select = document.getElementById('departamento');
                select.innerHTML = '';
                var lin = document.createElement('option')
                lin.textContent = "Selecione...";
                lin.selected = true;
                lin.disabled = true;
                select.appendChild(lin);

                departamentos.forEach(departamento => {

                    lin = document.createElement('option');
                    lin.textContent = departamento.nome;
                    lin.value = departamento.id;
                    lin.id = departamento.id;
                    select.appendChild(lin);

                });


            }


            function buscarDepartamentos(id) {

                fetch(host + '/api/departamentos')
                    .then(response => {
                        if (response.ok) {
                            response.json().then(departamentos => {

                                adicionarDepartamentos(departamentos);
                                adicionarDadosFormulario(id);


                            });

                        } else {
                            alert("um erro aconteceu ao carregar a página");
                        }

                    })
                    .catch(error => {

                        console.error('Erro:', error);
                    });

            }
            function mostrarMensagem(tipo, mensagem) {
                var alert = document.getElementById("alert");


                alert.innerHTML = '';




                alert.innerHTML =

                    '<div class="alert alert-' + tipo + ' alert-dismissible fade show" role = "alert">' +
                    mensagem +
                    '<button type = "button" class="close" data-dismiss="alert" aria-label="Close">' +
                    '<span aria-hidden="true">&times;</span></button> </div>'

                    ;

            }


            function criarFormulárioModal(id) {
                var modalBody = document.getElementById('modalBody');

                modalBody.innerHTML = `
                                        <div style="width: 100%;">

                                            <form>
                                                <div id="alert" style="width: 100%;"></div>

                                                <div class='col'>
                                                    <input type='text' id='id' style='display: none;'>
                                                </div>
                                                
                                                
                                                <div class="row">

                                                    <div class="col">
                                                        <label for="exampleInputEmail1">Nome</label>
                                                        <input type="text" class="form-control" id="nome" aria-describedby="emailHelp"
                                                            placeholder="Nome do cargo">
                                                        <p class="text-danger" id="mensagemNome"> </p>
                                                    </div>
                                                    <div class="col">
                                                        <label for="departamento">Departamento</label>
                                                        <select class="form-control" id="departamento">

                                                        </select>
                                                        <p class="text-danger" id="mensagemDepartamento"> </p>
                                                    </div>
                                                </div>
                                                <p></p>
                                                <div style="display: flex; justify-content: end;">

                                                    <button type="button" class="btn btn-primary" onclick="editarCargo()">Editar</button>
                                                </div>
                                            </form>
                                        </div>`;


                buscarDepartamentos(id);
            }

            function validarFormulario() {
                var nome = document.getElementById('nome');
                var departamento = document.getElementById('departamento');
                var valid = true;

                var mensagem = document.getElementById('mensagemNome');
                if (nome.value.trim() == '' || nome == null) {

                    nome.classList.add("border-danger");
                    mensagem.textContent = "Digite um nome válido";
                    mensagem.style.fontSize = "12px";

                    valid = false;
                } else {
                    nome.classList.remove("border-danger");
                    mensagem.textContent = "";


                }
                mensagem = document.getElementById('mensagemDepartamento');
                if (departamento.value == "Selecione...") {
                    departamento.classList.add("border-danger");
                    mensagem.textContent = "Selecione um departamento";
                    mensagem.style.fontSize = "12px";

                    valid = false;
                } else {
                    departamento.classList.remove("border-danger");
                    mensagem.textContent = "";

                }
                return valid;
            }

        </script>


        <script>
            function adicionarDadosFormulario(id) {


                fetch(host + '/api/cargos/' + id)
                    .then(response => {
                        if (response.ok) {
                            response.json().then(cargo => {

                                adicionarDadosCamposFormulario(cargo);
                            });

                        } else {
                            alert("um erro aconteceu ao carregar a página");
                        }

                    })
                    .catch(error => {

                        console.error('Erro:', error);
                    });
            }

            function adicionarDadosCamposFormulario(cargo) {

                document.getElementById('id').value = cargo.id;
                document.getElementById('nome').value = cargo.nome;
                document.getElementById(cargo.departamento.id).selected = true;

            }
        </script>

        <script>
            function excluirCargo(id) {

                var btnExcluir = document.getElementById("botaoExcluir")
                btnExcluir.name = id;
            }

            function confirmarExclusao(id) {

                fetch(host + '/api/cargos/' + id,
                    {
                        method: 'DELETE'
                    })
                    .then(response => {
                        var message;
                        var alertType;
                        if (response.ok) {
                            mostrarMensagem("success", "Cargo excluido!");
                            listarCargos();

                        } else {

                            response.json().then(responseError => {

                                mostrarMensagem("danger", responseError.message);
                            })
                        }
                    })


                    .catch(error => {
                        // Lida com erros
                        console.error('Erro:', error);
                    });



            }

        </script>

        <script>


            document.addEventListener("readystatechange", function () {
                listarCargos();
            });

            function listarCargos() {
                // Coloque o código da sua função aqui
                fetch(host + '/api/cargos')
                    .then(response => {

                        if (response.ok) {

                            response.json().then(cargos => {

                                rederizarTabela(cargos);

                            })
                        } else {
                            response.json().then(response => {

                                if (response.StatusCode == "400") {

                                    limparTabela();
                                    mostrarMensagem("warning", response.message);
                                }
                            })

                        }
                    })
            }

            function limparTabela() {
                const table = document.getElementById('tabela-cargos');
                const tbody = table.querySelector('tbody');

                // Limpa o conteúdo atual da tabela
                tbody.innerHTML = '';

            }

            function rederizarTabela(data) {

                const table = document.getElementById('tabela-cargos');
                const tbody = table.querySelector('tbody');

                // Limpa o conteúdo atual da tabela
                limparTabela();

                // Loop pelos dados e cria uma nova linha para cada entrada
                data.forEach(cargo => {
                    const row = document.createElement('tr');

                    row.innerHTML = `<td id="${cargo.id}" style="display:none;"></td>
                                     <td>${cargo.nome}</td>
                                     <td>${cargo.departamentoNome}</td>
                                     <td>
                                        <button id = "${cargo.id}" type="button" class="btn btn-info" data-toggle="modal" data-target="#modalEditar" onclick = "criarFormulárioModal(this.id)"><i class="material-icons">edit</i></button>
                                        <button id = "${cargo.id}" onclick="excluirCargo(this.id)" type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmarExclusao"><i class="material-icons">delete</i></button>
                                     </td>`;
                    tbody.appendChild(row);

                });
            }
        </script>
    </div>

</body>

</html>